@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/Roboto-Regular.ttf") format('truetype')
}

@font-face {
  font-family: RobotoBlack;
  src: url("../fonts/Roboto-Black.ttf") format('truetype')
}
* {
  font-size: 16px;
}
::after, ::before {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}